nav {
  background-color: var(--fg);
}
.tab {
  border: none;
  border-radius: 0;
  color: var(--accent);
  background-color: var(--disabled);
  margin: 0;
}

.tab:hover:enabled {
  color: var(--bg);
  background-color: var(--accent);
}

.tab:disabled {
  color: var(--text);
  background-color: var(--bg);
}

.tab-selected {
  color: var(--text);
  background-color: var(--bg);
}

.tab-selected:hover {
  color: var(--text) !important;
  background-color: var(--bg) !important;
}

#stack {
  padding: 0 32px 32px 32px;
  background-color: var(--bg);
}

body {
  margin: 32px 0 !important;
  background-color: var(--disabled) !important;
  grid-template-columns: 1fr min(50rem,90%) 1fr !important;
}

td {
  text-align: center !important;
}

table {
  font-size: 0.8em;
}

tfoot {
  border-top: solid var(--border) 3px;
  font-weight: bold;
}

blockquote {
  margin: 0 !important;
}

.last-modified {
  display: inline-block;
  margin: 10px 0 0 0;
  float: right;
  font-size: 0.8em;
  color: var(--text-light);
}
